<h2>Login</h2>

<!-- {{#if message.length}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}} -->

<form method="post" action="/login">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">
  </div>

  <div class="form-group">
    <label for="email">Password</label>
    <input class="form-control" type="password" name="password" id="password">
  </div>

  <input class="btn btn-default" type="submit">
</form>


<!-- Here's the Twitter image! -->
<a href="/auth/twitter"><img id="twitter-login" src="http://i.imgur.com/3kYcO3Y.png"></a>
<a href="/auth/google">GOOGLE LOGIN</a>
