body {
  font-size: 18px;
  background-color: #555;

}

li {
  padding-left: 20px;
  padding-top: 15px;
  color: white;
  font-size: 14px;
}

.custom {
  font-size: 22px;
}

.mid-test {
    display:inline-block;
    min-height: 600px;
    width: 65%;
    background-color: #888;
    border-radius: 10px 10px 10px 10px;
}

.side {
  display:inline-block;
  min-height: 600px;
  padding-left: 10px;
  width:32%;
  background-color: #777;
  border-radius: 10px 10px 10px 10px;
  margin-left: 20px;

}
