body {
  font-size: 18px;
  background-color: #e9e9e9;

}

.loc-container {
  background-color: #e9e9e9;
  box-shadow: inset 1px 1px 2px #c0c5cc;
}


/** Custom Buttons **/

.btn-custom {
  color: #28AADC;
  background: #fff;
  border: solid 3px #28AADC;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 400;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 10px;
}

.btn-custom:hover {
  border-color: #28AADC;
  color: #fff;
  background-color: #28AADC;

}

.btn-custom:active {
  border-color: #27496d;
  color: #27496d;
}

.btn-custom-set {
  color: #28AADC;
  background: #fff;
  border: solid 2px #28AADC;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 400;
  padding: 4px 10px 4px 10px;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 2px;
  display: inline-block;
}

.btn-custom-set:hover {
  border-color: #28AADC;
  color: #fff;
  background-color: #28AADC;

}

.btn-custom-set:active {
  border-color: #27496d;
  color: #27496d;
}

.input-div {
  margin-top: -25px;
}

/** Form **/

li {
  padding-left: 20px;
  padding-top: 15px;
  color: #333;
  font-size: 14px;
}

.custom {
  font-size: 22px;
}

.container {
  margin: 0 auto;
}
.row {
    min-height: 600px;
    background-color: #61cdf6;
    /*border-radius: 10px 10px 10px 10px;*/
    box-shadow: inset 1px 1px 2px #c0c5cc;

    min-height: 600px;
    background-color: #e88f7e;
    border-radius: 10px 10px 10px 10px;
}

.loc-space {
  min-height: 600px;
  background-color: #fff;
  box-shadow: inset 1px 1px 2px #c0c5cc;

}

form {
  display: none;
}

.allvotesdiv{
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  display: none;
}




/** nav **/

.navbar-brand {
  margin-top: 5px;
}


.navbar-custom {
  min-height: 65px;
  background-color: white;
  border-bottom: 2px solid #f1f1f1;
}

.nav-custom span {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  color: #0b0b0b;
  font-size: 16px;
  cursor: pointer;
}

.nav-custom span:hover {
  color: #0b0b0b;
  background-color: white;
  padding-bottom: 2px;
  border-bottom: 2px solid #73d8ff;
}

/** Toggle Locations **/

h3,
.link {
  cursor: pointer;
  color: #2c3239;
}

h3:hover {
  /*background-color: white;*/
}

h3:first-of-type {
  padding-top: 20px;
}

.list-items {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #333;
}

.sessionmessage{
  display: none;
  margin: 0 auto;
  width: 100%;
  font-size: 18.5px;
  height: 80px;
  margin-top: 10px;
}
.successmessage{
  display: none;
  margin: 0 auto;
  width: 100%;
  font-size: 18.5px;
  height: 80px;
  margin-top: 10px;
}

.movie-style:nth-last-of-type(2n){
  background-color: rgba(0, 0, 0, 0.1);
}

.movie-style{
  margin: 10px;
  margin-top: 40px;
  padding-top: 10px;
}
.movietitle{
  font-size: 20px;
  font-weight: bold;
}

.showuserinfo{
  background-color: yellow;
}

/** Rotating Words **/


.cta {
  color: #222;
}

.word-wrapper {
  position: relative;
}

.cta.rotate b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  top: auto;
  white-space: nowrap;
  padding-left: 6px;
}

.cta.rotate b.is-visible {
  position: absolute;
  opacity: 1;
  transform: rotateX(0deg);
  animation: cta-rotate-in 1.2s;
}

.cta.rotate b.is-hidden {
  position: absolute;
  transform: rotateX(180deg);
  animation: cta-rotate-out 1.2s;
}

@keyframes cta-rotate-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes cta-rotate-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}

/** Logo Animation **/

@media only screen {


#logo-atnow {
      font-family: 'Open Sans', sans-serif;
      /*letter-spacing: 3px;*/
      text-transform: uppercase;
      font-weight: 600;
      font-size: 4rem;
      text-align: center;
      background: -webkit-linear-gradient(left, #a0d4e8, #28aadc, #3997bb, #28aadc, #b1d8e6);
      background: linear-gradient(left, #a0d4e8, #28aadc, #3997bb, #28aadc, #b1d8e6);
      color: transparent;
      -webkit-background-clip: text;
      -webkit-animation: animate-logo;
      -webkit-animation-delay: 0;
      -webkit-animation-duration: 50s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-fill-mode: forwards;
      transition: font-size 500ms ease-in-out;
    }
  }
  }

@media only screen and (min-width: 40.063em) {
  .logo {
    margin-top: 30vh;
    font-size: 13rem;
  }
}
@media only screen and (min-width: 64.063em) {
  .logo {
    margin-top: 25vh;
    font-size: 20rem;
  }
}
@media only screen and (min-width: 90.063em) {
  .logo {
    margin-top: 20vh;
    font-size: 30rem;
  }
}
@media only screen and (min-width: 120.063em) {
  .logo {
    margin-top: 15vh;
    font-size: 40rem;
  }
}
@-webkit-keyframes animate-logo {
  0% {
    background-position: 0 3200px;
  }
  100% {
    background-position: 3200px 0;
  }
}

/** Other Stuff **/

.red,
.warning {
  color: red;
}

.green {
  color: green;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

/*style for if user has already voted*/
.true {
  color: blue;
}

/*style if user has not alredy chosen this vote*/
.false {
  opacity: 0.5;
}

.set-location-div {
  display: none;
}

/** line **/

.separate {
  width: 10%;
  border: 1px solid #f2f2f2;
}

/** Boxes on Toggle **/

div.location-toggle:nth-child(odd) {
    /*border-radius:4px;*/
  box-shadow:inset 1px 1px 1px #55bde4;
  background-color: #61cdf6;
  display:block;
  font-size:14px;
  height:34px;
  line-height:1.42857;
  padding:6px 12px;
  width:100%;
}

div.location-toggle:nth-child(even) {
  max-width: 500px;
  /*border-radius:4px;*/
  box-shadow:inset 1px 1px 1px #55bde4;
  background-color: #b2edf6;
  display:block;
  font-size:14px;
  height:34px;
  line-height:1.42857;
  padding:6px 12px;
  width:100%;
}

.welcome {
  font-size: 50px;
}


/** footer **/

.nav--footer span {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  color: #0b0b0b;
  font-size: 16px;
  cursor: pointer;
}

.nav--footer span:hover {
  color: #0b0b0b;
  padding-bottom: 2px;
  border-bottom: 2px solid #73d8ff;


.inline {
  display: inline-block;
}

.vote-count {
  border: solid #73d8ff 2px;
  border-radius: 10px;
  padding: 5px;
  background: white;
}

.loc-name {
  padding: 10px;
}

.upvote,
.downvote {
margin-left: 5px;
}
