body {
  font-size: 18px;
  background-color: #424242;

}

.navbar-custom {
  background-color: #d8f2bc;
  border-bottom: thick solid #b2b8ab;
}

li {
  padding-left: 20px;
  padding-top: 15px;
  color: #333;
  font-size: 14px;
}

.custom {
  font-size: 22px;
}

.container {
  margin: 0 auto;
}
.row {
    min-height: 600px;
    background-color: #e88f7e;
    border-radius: 10px 10px 10px 10px;
}

.col-md-4 {
  min-height: 600px;
  background-color: #ffcb87;
  border-radius: 10px 10px 10px 10px;
}

form {
  display: none;
}

.allvotesdiv{
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  display: none;
}

#logo-atnow {
  background-image:
}

h3,
.link {
  cursor: pointer;
}

.list-items {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
}

.sessionmessage{
  display: none;
  margin: 0 auto;
  width: 100%;
  font-size: 18.5px;
  height: 80px;
  margin-top: 10px;
}

.logoutmessage{
  display: none;
  margin: 0 auto;
  width: 100%;
  font-size: 18.5px;
  height: 80px;
  margin-top: 10px;

/** Rotating Words **/

.cta {
  color: white;
}
.cta.rotate b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.cta.rotate b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
  animation: cd-rotate-in 1.2s;
}

.cta.rotate b.is-hidden {
  transform: rotateX(180deg);
  animation: cd-rotate-out 1.2s;
}

@keyframes cd-rotate-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes cd-rotate-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
