body {
  font-size: 18px;
  background-color: #F1F1F1;

}

.loc-container {
  background-color: #f7f7f7;
}

div.location.loc-style {
  margin-bottom: 5px;
  padding: 5px;
}

.btn-custom {
  color: #3ABEC7;
  background: rgba(0,0,0,0);
  border: solid 3px #3ABEC7;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 400;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 10px;
}

.btn-custom:hover {
  border-color: #3ABEC7;
  color: #fff;
  background-color: #3ABEC7;

}

.btn-custom:active {
  border-color: #27496d;
  color: #27496d;
}

li {
  padding-left: 20px;
  padding-top: 15px;
  color: #333;
  font-size: 14px;
}

.custom {
  font-size: 22px;
}

.container {
  margin: 0 auto;
}
.row {
    min-height: 600px;
    background-color: #e88f7e;
    border-radius: 10px 10px 10px 10px;
}

.loc-space {
  min-height: 600px;
  background-color: #fff;

}

form {
  display: none;
}

.allvotesdiv{
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  display: none;
}

.upvote {

}



/** logo and nav **/

#logo-atnow {
  background-image:
}


.navbar-custom {
  background-color: #A0C2EE;
  border-bottom: 2px solid #8BA8CF;
}

/** Toggle Locations **/

h3,
.link {
  cursor: pointer;
}

.list-items {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: black;
}

.sessionmessage{
  display: none;
  margin: 0 auto;
  width: 100%;
  font-size: 18.5px;
  height: 80px;
  margin-top: 10px;
}

.logoutmessage{
  display: none;
  margin: 0 auto;
  width: 100%;
  font-size: 18.5px;
  height: 80px;
  margin-top: 10px;
}

/** Rotating Words **/


.cta {
  color: black;
}
.cta.rotate b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: auto;
  top: auto;
}

.cta.rotate b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
  animation: cta-rotate-in 1.2s;
}

.cta.rotate b.is-hidden {
  transform: rotateX(180deg);
  animation: cta-rotate-out 1.2s;
}

@keyframes cta-rotate-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes cta-rotate-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}


.red {
  color: red;
}

.green {
  color: green;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

/*style for if user has already voted*/
.true {
  color: blue;
}

/*style if user has not alredy chosen this vote*/
.false {
  opacity: 0.5;
}

.set-location-div {
  display: none;
}
