body {
  font-size: 18px;
  background-color: #424242;

}

.navbar-custom {
  background-color: #d8f2bc;
  border-bottom: thick solid #b2b8ab;
}

li {
  padding-left: 20px;
  padding-top: 15px;
  color: #333;
  font-size: 14px;
}

.custom {
  font-size: 22px;
}

.container {
  margin: 0 auto;
}
.row {
    min-height: 600px;
    background-color: #e88f7e;
    border-radius: 10px 10px 10px 10px;
}

.col-md-4 {
  min-height: 600px;
  background-color: #ffcb87;
  border-radius: 10px 10px 10px 10px;
}

form {
  display: none;
}

.allvotesdiv{
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  display: none;
}

#logo-atnow {
  background-image:
}

h3 {
  cursor: pointer;
}

/** Rotating Words **/

.list-items {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
}

.headline.rotate .words-wrapper {
  display: inline-block;
  perspective: 300px;
}

.headline.rotate b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.headline.rotate b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
  animation: cd-rotate-1-in 1.2s;
}

.headline.rotate b.is-hidden {
  transform: rotateX(180deg);
  animation: cd-rotate-1-out 1.2s;
}

@keyframes rotate-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes rotate-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
